# Import Libraries

In [ ]:
import pandas as pd
import numpy as np
from pydrive.auth import GoogleAuth
from google.colab import drive
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

---------------------------------------------

# Access Data

To access data, uncomment the required code block.

In [ ]:
# # For CSV file
# file_id = '1FNLJjNeEmy-HzUA_ghtjRYeJcXYJiGHS'
# download = drive.CreateFile({'id': file_id})
# download.GetContentFile('ChicagoData.csv')
# data = pd.read_csv("ChicagoData.csv")
# data.head()

# For Pickle Data file
file_id = '1iNTFeAEgyIVzXENvR6Hogg3sNSfIZPkX'
download = drive.CreateFile({'id': file_id})
download.GetContentFile('data.pkl')
data = pd.read_pickle("data.pkl")
data.head()

# For Pickle Debug Data file
file_id = '18tivYo3gBtl3TOjP7xek6KMdP0I3e83y'
download = drive.CreateFile({'id': file_id})
download.GetContentFile('debug.pkl')
data_debug = pd.read_pickle("debug.pkl")
data_debug.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,tsDate
0,10224738,HY411648,2015-09-05 13:30:00,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,61.0,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)",1441459800
1,10224739,HY411615,2015-09-04 11:30:00,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,25.0,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)",1441366200
2,11646166,JC213529,2018-09-01 00:01:00,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN,1535760060
3,10224740,HY411595,2015-09-05 12:45:00,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,21.0,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)",1441457100
4,10224741,HY411610,2015-09-05 13:00:00,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,25.0,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)",1441458000

-------------------------------------------

# Making Pickle Files

**Note**: Do not run the below code if you have accessed data from pickle file.

In [ ]:
data.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [ ]:
data.shape

(7651597, 22)

In [ ]:
data.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [ ]:
data['Date'] = pd.to_datetime(data['Date'], format = "%m/%d/%Y %I:%M:%S %p")
data['tsDate'] = data[['Date']].apply(lambda x: x[0].timestamp(), axis = 1).astype(int)

In [ ]:
data.to_pickle("data.pkl")

In [ ]:
data_debug = data.iloc[0:1000, :].copy()

In [ ]:
data_debug.to_pickle("debug.pkl")

-----------------------------------------

# Working with Pickle Files

In [ ]:
len(data['Primary Type'].unique())

36

In [ ]:
len(data['Block'].unique())

62413

In [ ]:
data['Block'].value_counts()

100XX W OHARE ST        16284
001XX N STATE ST        14818
076XX S CICERO AVE       9941
008XX N MICHIGAN AVE     9339
0000X N STATE ST         8828
                        ...
038XX N LECLAIRE AV         1
073XX N OVERHILL AV         1
106XX S HOYNE AV            1
025XX W 73 ST               1
035XX N Lakewood Ave        1
Name: Block, Length: 62413, dtype: int64

------------------------------------------------------